<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jili.right.mapper.StatisticsMapper" >
<!-- <cache /> -->
 <resultMap type="com.jili.right.po.Statistics" id="orderResultMap">
         <!-- 用id属性来映射主键字段 -->
        <id property="id" column="id"/>
        <!-- 用result属性来映射非主键字段 -->
         <result property="total_test" column="total_test"/>
         <result property="today_test" column="today_test"/>
         <result property="total_maintain" column="total_maintain"/>
         <result property="total_warn" column="total_warn"/>
         <result property="total_facility" column="total_facility"/>
         <result property="total_users" column="total_users"/>
        
    </resultMap>  
 <select id="selectStatisticsMapper" resultMap="orderResultMap" >
 		select * from statistics
 		
</select>
</mapper>