<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jili.plan.mapper.PlanMapper" >
<!-- <cache type="org.mybatis.caches.ehcache.EhcacheCache"/> -->
<!-- <cache/> -->
	<sql id="select">
		<if test="text!=null and text!=''">
			text like '%${text}%'
		</if>
		<if test="tjm!=null and tjm!=''">
			and tjm like '%${tjm}%'
		</if>
		<if test="testpeople!=null and testpeople!=''">
			and testpeople like '%${testpeople}%'
		</if>
	</sql>

 	<select id="selectPlan" parameterType="com.jili.plan.po.Plan" resultMap="orderResultMap">
 		select * from plan
 		<where>
 			<include refid ="select"></include>
 		</where>
 	</select>
<resultMap type="com.jili.plan.po.Plan" id="orderResultMap">
         <!-- 用id属性来映射主键字段 -->
        <id property="id" column="id"/>
        <!-- 用result属性来映射非主键字段 -->
         <result property="text" column="text"/>
         <result property="tjm" column="tjm"/>
         <result property="fdjxh" column="fdjxh"/>
         <result property="fdjbh" column="fdjbh"/>
         <result property="start_date" column="start_date"/>
         <result property="end_date" column="end_date"/>
         <result property="testpeople" column="testpeople"/>
         <result property="engineer" column="engineer"/>
         <result property="content" column="content"/>
    </resultMap>
  
<select id="selectPlanUi"  resultMap="orderResultMap">
 		select * from plan
 		<where>
 			<include refid ="select"></include>
 		</where>
 		order by  id desc
 	</select>
 	<select id="countPlanUi" parameterType="com.jili.plan.po.Plan"   resultType="int">
 		select count(id) from plan 
 		<where>
 			<include refid ="select"></include>
 		</where>
 	</select>

    <insert id="insertPlan" parameterType="com.jili.plan.po.Plan">
	insert into plan values(#{id},#{text},#{tjm},#{fdjxh},#{fdjbh},#{start_date},#{end_date},#{testpeople},#{engineer},#{content})
    </insert>

<update id="planUpdate" parameterType="com.jili.plan.po.Plan">
      update plan
		<set>
		  <if test="text != null"> text = #{text,jdbcType=VARCHAR}, </if>
		  <if test="tjm != null"> tjm = #{tjm,jdbcType=VARCHAR}, </if>
		  <if test="fdjxh != null"> fdjxh = #{fdjxh,jdbcType=VARCHAR}, </if>
		  <if test="fdjbh != null"> fdjbh = #{fdjbh,jdbcType=VARCHAR}, </if>
		  <if test="start_date != null"> start_date = #{start_date}, </if>
		  <if test="end_date != null"> end_date = #{end_date}, </if>
		  <if test="testpeople != null"> testpeople = #{testpeople,jdbcType=VARCHAR}, </if>
		  <if test="engineer != null"> engineer = #{engineer,jdbcType=VARCHAR}, </if>
		  <if test="content != null"> content = #{content,jdbcType=VARCHAR}, </if>  
		</set>
    where id = #{id,jdbcType=INTEGER} 
</update>
 	<delete id="planDel" parameterType="com.jili.plan.po.Plan">
 	DELETE  from plan where id =#{id}
 	</delete>

</mapper>